.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    height: 100vh;
}

.caixa1 {
    background-color: rgba(194, 80, 27, 0.4);
    grid-row: 1 / span 1; /* Simplificando o Grid-Row-Start que é 1 e o GridRow-End que é 4 */
    grid-column: 1 / span 4;
     /* Junção de Grid-Column Start e Grid-Column-End, ou seja, ao invés de usar 4 declarações, você pode usar apenas 2*/
}

.caixa2 {
    background-color: green;
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}

.caixa3 {
    background-color: blue;
    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
}

/* Dá para simplificar ainda mais (Grid-Row e Grid-Column você pode utilizar a propriedade Grid-Area, por exemplo, a caixa 01 ficaria: grid-area: 1 / 1 / 4 / 3 /*