.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    height: 100vh;
}

.caixa1 {
    background-color: rgba(194, 80, 27, 0.4);
    grid-area: 1 / 1 / 2 / 5;
}

.caixa2 {
    background-color: green;
    grid-area: 2 / 1 / 4 / 3;
}

.caixa3 {
    background-color: blue;
    grid-area: 2 / 3 / 4 / 5;   
}

/* Simplificando com o Grid-Area. Lembrando que dá para usar os span também*/

/* 
Você pode fazer de 3 formas:

- Completa:
grid-row-start: 1;
grid-column-start: 1;
grid-row-end: 4;
grid-column-end: 3;

- Simplificada 1:
grid-row: 1 / 4;
grid-column: 1 / 3;

- Simplificada 2:
grid-area: 1 / 1 / 4 / 3;

*/

/*
Lembrando que também funciona com Spans:
- Completa:
grid-row-start: 1;
grid-column-start: 1;
grid-row-end: span 3;
grid-column-end: span 2;

- Simplificada 1:
grid-row: 1 / span 3;
grid-column: 1 / span 2;

- Simplificada 2:
grid-area: 1 / 1 / span 3 / span 2;
*/

